@model TimeRecorder

@{
    TimeSpan focusDuration = ViewBag.FocusDuration;
    TimeSpan breakDuration = ViewBag.BreakDuration;
}

<h2>Timer</h2>

<div>
    <p id="timerDisplay">00:00:00</p>
</div>

<div>
    <button onclick="startCountdown()">Start</button>
    <button onclick="pauseCountdown()">Pause</button>
    <button onclick="stopCountdown()">Stop</button>
</div>

@section Scripts {
    <script>
        var timer;
        var totalTime = 0;

        function updateTimeDisplay(hours, minutes, seconds) {
            document.getElementById('timerDisplay').textContent = `${hours.padStart(2, '0')}:${minutes.padStart(2, '0')}:${seconds.padStart(2, '0')}`;
        }

        function startCountdown() {
            var focusDurationSeconds = @focusDuration.TotalSeconds;
            var breakDurationSeconds = @breakDuration.TotalSeconds;

            totalTime = focusDurationSeconds;

            timer = setInterval(function () {
                var hours = parseInt(totalTime / 3600, 10);
                var minutes = parseInt((totalTime % 3600) / 60, 10);
                var seconds = parseInt(totalTime % 60, 10);

                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                updateTimeDisplay(hours, minutes, seconds);

                if (--totalTime < 0) {
                    clearInterval(timer);
                    updateTimeDisplay(0, 0, 0); // Reset display to 00:00:00
                }
            }, 1000);
        }

        function pauseCountdown() {
            clearInterval(timer);
        }

        function stopCountdown() {
            clearInterval(timer);
            updateTimeDisplay(0, 0, 0); // Reset display to 00:00:00
            totalTime = 0; // Reset total time
        }

        updateTimeDisplay(0, 0, 0); // Initialize display
    </script>
}
