
@{
    ViewData["Title"] = "Add courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add course</h2>
<form method="post">
    @Html.Partial("~/Views/Course/Partial/CourseForm.cshtml")
</form>

