@model WakeyWakey.Models.Task

@{
    ViewData["Title"] = "Edit Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Task: @Model.Name</h2>

<form asp-controller="Task" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <partial name="Partial/_TaskFormPartial" />
    <button type="submit" class="btn btn-primary">Update</button>
</form>