@{
    var courseId = Context.Request.RouteValues["courseId"];
    ViewData["Title"] = "Create Subject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WakeyWakey.Models.Subject

<head>
    <style>
          
          .btn {
              padding: 20px 30px;
              border-radius: 15px;
              cursor: pointer;
              border: none;
              transition: 0.2s ease;
              margin: 20px 0 0 0;
        
          }
          
          .btn.btn-primary {
              background-color: #0099cc;
              color: white;
          }
          
          .btn.btn-primary:hover {
              background-color: #cc0000;
              color: white;
          }
          
  
    </style>

</head>


<h2>@ViewData["Title"]</h2>

<form asp-action="Create" asp-controller="Subject" asp-route-courseId="@courseId" method="post">
    <input type="hidden" asp-for="CourseId" value="@courseId" />
    <partial name="Partial/_SubjectFormPartial"/>
    <button type="submit" class="btn btn-primary">Create</button>
</form>