@{
    ViewData["Title"] = "Home";
}

<div class="text-center home-header">
    <h1 class="display-4">Wakey Wakey</h1>
    <p class="lead">Take your learning experience to the next level with Wakey Wakey!</p>
</div>

