@{
    ViewData["Title"] = "Login";
}

<style>
    .login-container {
        text-align: center;
    }

    .login-input {
        width: 250px; /* Width of the square input fields */
        height: 40px; /* Height of the square input fields */
        margin: 10px auto; /* Center the input fields and add some vertical spacing */
    }
</style>


<div class="login-container">


    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
    <h1 class="display-4">Wakey Wakey - Login</h1>

    <form method="post" asp-controller="Home" asp-action="Login">
        <!-- Assuming you have a login endpoint set up -->
        <div class="form-group">
            <label for="username">Username:</label><br>
            <input type="text" class="form-control login-input" id="username" name="username" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label><br>
            <input type="password" class="form-control login-input" id="password" name="password" required>
        </div>






        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <p>Don't have an account? <a href="/Home/Register">Register here</a>.</p>
</div>
